
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

img {
    width: 300px;
    height: auto; 
    margin: 10px;
    transition: transform 400ms ease; 
}

.image-container:hover img {
    transform: scale(1.05); 
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-bottom: 40px;
    text-align: center;
}

.image-container h1 {
    margin-top: 20px;
    grid-column: 1 / -1; 
    color: black;
    font-size: 24px;
    margin-bottom: 5px; 
    text-align: left;
}


.image-container:hover .efekt {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1); 
}
